/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: 'Orbitron', serif;
    transition: all 0.4s ease;
}

body {
    background: #f0f8ff;  
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.dark {
    background: #24292d;
}

main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    height: 22rem;
    max-width: 54rem;
    width: 100%;
    padding: 0 1rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    position: relative;
}

main.dark .container {
    background: #323840;
}

main .container .icons i {
    position: absolute;
    top: 1.7rem;
    right: 1.7rem;
    width: 3rem;
    height: 3rem;
    background: #24292d;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
}

main.dark .container .icons i {
    background: #fff;
    color: #323840;
}

main .container .icons i.fa-sun {
    opacity: 0;
    pointer-events: none;
}

main.dark .container .icons i.fa-sun {
    opacity: 1;
    pointer-events: auto;
    font-size: 1.8rem;
}

main .container .time {
    display: flex;
    align-items: center;
}

.time .time-colon  {
    display: flex;
    align-items: center;
}   

.time .time-colon .time-text {
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #f0f8ff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

main.dark .time .time-text {
    background: #24292d;
}

.time .time-colon .time-text,
.time .time-colon .colon {
    font-size: 3.5rem;
    font-weight: 600;
}

main.dark .time .time-colon .time-text,
main.dark .time .time-colon .colon {
    color: #fff;
}

.time .time-colon .time-text .text {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.time .time-colon .colon {
    font-size: 4rem;
    margin: 0 1rem;
}

.time .time-colon .am_pm {
    margin-bottom: 8rem;
    margin-left: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

main.dark .time .time-colon .am_pm {
    color: #fff;
}

/******************************** Media Query ********************************/

@media  (max-width: 780px) {
    main .container {
        height: 220px;
        max-width: 560px;
        width: 100%;
        padding: 0 10px;
        border-radius: 12px;
    }

    main .container .icons i {
        top: 17px;
        right: 17px;
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
    }

    main.dark .container .icons i.fa-sun {
        font-size: 18px;
    }

    .time .time-colon .time-text {
        height: 100px;
        width: 100px;
    }

    .time .time-colon .time-text,
    .time .time-colon .colon {
        font-size: 35px;
    }

    .time .time-colon .time-text .text {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .time .time-colon .colon {
        font-size: 40px;
        margin: 0 10px;
    }

    .time .time-colon .am_pm {
        margin-bottom: 80px;
        margin-left: 8px;
        font-size: 20px;
        letter-spacing: 1px;
    }
}
    
@media (max-width: 600px) {
    
    main .container {
        width: 90%;
    }
    
    main .container .icons i {
        top: 12px;
        right: 12px;
    }
}

@media (max-width: 450px) {
     
    .time .time-colon .am_pm {
        margin-bottom: 60px;
        font-size: 10px;
    }
    
    .time .time-colon .time-text {
        width: 80px;
        height: 80px;
    }
    
    .time .time-colon .time-text .text {
        display: none;
    }    
}

@media (max-width: 375px) {
    
    .time .time-colon .am_pm {
        margin-bottom: 40px;
    }
    
    .time .time-colon .time-text {
        width: 60px;
        height: 60px;
    }
    
    .time .time-colon .colon {
        font-size: 35px;
        margin: 0 8px;
    }
}
